/*************************************************
**************************************************

Author: Jonathan Sias
GitHub: JonathanSias
IG: jonathansias
Copyright 2023. All Rights Reserved.

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Nav Styles ----------------------- 
3. Card -----------------------------
*************************************************
************************************************/

:root {
    --bg-light: #f1f3f5;
    --bg-dark: #121214;
    --card-light: #fff;
    --card-dark: #202024;
    --gradient: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(258, 100%, 71%, 1) 50%, hsla(294, 100%, 55%, 1) 100%);
    --purple: #e39cfb;
    --green: #c0e7ac;
    --teal: #73e1c2;
}

:root .light-mode {
    --bg-color: var(--bg-light);
    --card-color: var(--card-light);
}

:root .dark-mode {
    --bg-color: var(--bg-dark);
    --card-color: var(--card-dark);
}
/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a:link, a:hover {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color) !important;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: min-content;
    margin-top: 30px;
}

.grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.flex-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------------
------------------------------------------------
2. Nav Styles
------------------------------------------------
----------------------------------------------*/
.menu {
    background-color: var(--card-color);
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.nav-item {
    padding: 0;
    background: var(--gradient);
    border-radius: 18px;
    border: none;
    margin: 5px 10px;
}

.nav-link {
    color: #fff;
    padding: 15px;
    font-size: 32px;
}

.nav-item:hover {}

.nav-link:hover{
    color: #fff;
}

.nav-link.active {
    background: none !important;
}
/*----------------------------------------------
------------------------------------------------
3. Card
------------------------------------------------
----------------------------------------------*/
.card {
    background-color: var(--card-color);
    border: none;
    border-radius: 25px;
    padding: 30px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.border-more {
    border-radius: 100px 25px 25px 25px;
}

.d-4 {
    min-width: 250px;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.card-content {}

img.big-img {
    width: 100%;
}